@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  /* Primary*/
  --clr-strong-cyan: hsl(171, 66%, 44%);
  --clr-light-blue: hsl(233, 100%, 69%);

  /* Neutral*/
  --clr-dark-grayish-blue: hsl(210, 10%, 33%);
  --clr-grayish-blue: hsl(201, 11%, 66%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(220, 18%, 97%);

  /*Typography*/
  --f-family: "Bai Jamjuree", sans-serif;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fz-medium: 1.8rem;
}

body {
  font-family: var(--f-family);
  font-weight: var(--fw-regular);
  line-height: 1.3;
  overflow-x: hidden;
}

/*Heading Style*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-dark-grayish-blue);
  font-weight: var(--fw-semi-bold);
}

h2 {
  font-size: 2.8rem;
  letter-spacing: -0.046rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 2.3rem;
}
/* Paragraph styles */
p {
  font-size: 1.6rem;
  letter-spacing: 0.012rem;
  color: var(--clr-grayish-blue);
  line-height: 2.6rem;
  margin-inline: auto;
}

/* Responsive styles */
@media (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
    letter-spacing: -0.059rem;
    margin-bottom: 1.9rem;
  }

  h2 br,
  h4 br {
    display: none;
  }

  p {
    max-width: 70rem;
  }
}

/* Link styles */
a {
  display: block;
  text-decoration: none;
}

/* List styles */
ul {
  list-style: none;
}

/*Image Style Responsive*/
img {
  max-width: 100%;
}

/* Section and header styles */
section,
header {
  padding-bottom: 16rem;
}

@media (min-width: 992px) {
  section,
  header {
    padding-bottom: 14.2rem;
  }
}

.centered {
  text-align: center;
}

/* Set the width to the minimum of 100% - 3.2rem and 111rem for responsive sizing */
.container {
  width: min(100% - 3.2rem, 111rem);
  margin-inline: auto;
}

.content {
  max-width: 70rem;
  margin-inline: auto;
}

.content p {
  letter-spacing: 0.012rem;
  padding-inline: 0.6rem;
  margin-bottom: 6.5rem;
  line-height: 2.6rem;
}

@media (min-width: 768px) {
  .content p {
    padding-inline: 0;
    margin-bottom: 15rem;
    font-size: var(--fz-medium);
  }
}

/*Button Style*/
.btns {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.btn {
  position: relative;
  padding: 1.2rem 8rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  color: var(--clr-white);
  font-size: var(--fz-medium);
  line-height: 3rem;
  font-weight: var(--fw-semi-bold);
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btns .btn {
  max-width: 100%;
}

.cayan {
  background-color: var(--clr-strong-cyan);
  border-color: var(--clr-strong-cyan);
}

.light-blue {
  background-color: var(--clr-light-blue);
  border-color: var(--clr-light-blue);
}

.btn.cayan:hover {
  background-color: #2acfb7;
  box-shadow: 0 0.4rem 1.4rem hsl(171deg 66% 49% / 40%);
}

.btn.light-blue:hover {
  background-color: #7a8aff;
  box-shadow: 0 0.4rem 1.4rem hsl(233deg 100% 74% / 40%);
}

@media (min-width: 768px) {
  .btns {
    flex-direction: row;
    justify-content: center;
    gap: 1.6rem;
  }
}

@media (min-width: 992px) {
  .btn {
    padding: 1.2rem 5.5rem;
  }
}

/*Start Header Section*/
.hero {
  background: url(../images/bg-header-mobile.png) no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 12.3rem;
}

.hero .hero-logo {
  margin-bottom: 5.5rem;
}

.hero .content h1 {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  letter-spacing: -0.052rem;
}

.hero .content p {
  margin-bottom: 4.8rem;
}

/*Hero Responsive Section*/
@media (min-width: 376px) {
  .hero {
    padding-top: 13rem;
    background: url(../images/bg-header-desktop.png) no-repeat;
    background-position: center top;
  }
}

@media (min-width: 768px) {
  .hero {
    background-size: contain;
  }

  .hero .content h1 {
    font-size: 4.6rem;
  }

  .hero .content h1 br {
    display: none;
  }

  .hero .content p {
    font-size: 2rem;
    margin-bottom: 5.6rem;
  }
}
/*End Header Section*/
/*Start Snippets Section*/
.snippets .row {
  position: relative;
}

.snippets .row .snippet-img {
  margin-bottom: 5.6rem;
}

.snippets .row .snippet-left {
  display: none;
}

.snippets .row .snippet-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.snippets .row .snippet-features .feature h3 {
  letter-spacing: -0.039rem;
  margin-bottom: 1rem;
}

/*Snippets Responsive Section*/
@media (min-width: 992px) {
  .snippets .row {
    display: flex;
    gap: 11rem;
  }

  .snippets .row .snippet-features .feature {
    text-align: start;
    width: 35rem;
  }

  .snippets .row .snippet-features .feature h3 {
    margin-bottom: 0.8rem;
  }
}

@media (min-width: 1400px) {
  .snippets {
    margin-bottom: 8rem;
  }

  .snippets .row .snippet-img img {
    width: 72rem;
  }

  .snippets .row .snippet-features {
    justify-content: flex-start;
    padding-top: 10rem;
  }

  .snippets .row .snippet-left {
    display: flex;
    flex: 1;
  }

  .snippets .row .snippet-img {
    position: absolute;
    top: 0;
    left: -19rem;
  }
}
/*End Snippets Section*/
/*Start Access Section*/
.access .content p {
  margin-bottom: 11rem;
  max-width: 100%;
}

.access .access-img {
  max-width: 91rem;
  max-height: 47.3rem;
  margin-inline: auto;
}
/*End Access Section*/
/*Start Workflow Section*/
.workflow .workflow-title p {
  margin-bottom: 7.2rem;
}

.workflow .row .box {
  margin-bottom: 5.6rem;
}

.workflow .row .box .box-img {
  margin-bottom: 4rem;
  height: 4rem;
}

.workflow .row .box .box-details h3 {
  letter-spacing: -0.039rem;
  margin-bottom: 1.8rem;
}

/*Workflow Responsive Section*/
@media (min-width: 768px) {
  .workflow .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5.6rem;
  }

  .workflow .row .box {
    flex: 0 0 35rem;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .workflow .row {
    gap: 4rem;
  }

  .workflow .row .box {
    flex: 1;
  }

  .workflow .row .box .box-details p {
    font-size: 1.5rem;
  }
}
/*End Workflow Section*/
/*Start Logos Section*/
.logos .container .row .logo {
  margin-bottom: 6.6rem;
}

/*Logos Responsive Section*/
@media (min-width: 576px) {
  .logos .container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 6.6rem;
  }

  .logos .container .row .logo {
    margin-bottom: 0;
    width: calc(50% - 6.6rem);
  }
}

@media (min-width: 768px) {
  .logos .container .row {
    justify-content: flex-start;
  }
  .logos .container .row .logo {
    width: calc(33.33% - 6.6rem);
  }
}
@media (min-width: 992px) {
  .logos .container .row .logo {
    width: calc(25% - 6.6rem);
  }
}

@media (min-width: 1110px) {
  .logos .container .row .logo {
    flex: 1;
  }
}
/*End Logos Section*/
/*Start Apps Section*/
.apps .container .content p {
  padding-inline: 0.8rem;
}

.apps .container .content h4 {
  font-size: 2.8rem;
  letter-spacing: -0.046rem;
  margin-bottom: 1.6rem;
}
/*End Apps Section*/
/*Start Footer Section*/
.footer {
  padding: 5.2rem 0;
  background-color: var(--clr-light-gray);
}

.footer .container .logo {
  width: 5.5rem;
  aspect-ratio: 1;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.footer .container .menu {
  margin-bottom: 5.2rem;
}

.footer .container .menu li a {
  font-size: var(--fz-medium);
  letter-spacing: 0.014rem;
  line-height: 3rem;
  color: var(--clr-dark-grayish-blue);
  margin-bottom: 2rem;
  transition: color 0.3s ease-in-out;
}

.footer .container .menu li:hover a {
  color: var(--clr-strong-cyan);
}

.footer .container .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.footer .container .social-media li:hover a svg path {
  transition: fill 0.3s ease-in-out;
}

.footer .container .social-media li:hover a svg path {
  fill: var(--clr-strong-cyan);
}

/*Footer Responsive Section*/
@media (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }

  .footer .container .logo {
    margin-inline: unset;
  }

  .footer .container .menu {
    margin-bottom: 0;
    text-align: start;
    columns: 2;
    column-gap: 8rem;
  }
}

@media (min-width: 992px) {
  .footer .container .menu {
    columns: 3;
    column-gap: 6rem;
  }
}

@media (min-width: 1111px) {
  .footer .container {
    padding-inline: 0;
  }
}
/*End Footer Section*/
